.cache
cache
__pycache__
output/*
!output/png/
output/png/*
!output/png/.gitkeep
!output/csv/
output/csv/*
!output/csv/.gitkeep
!output/html/
output/html/*
!output/html/.gitkeep
shp_data/*
!shp_data/.gitkeep
.bash_history
renshu.py
renshu